.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100vw;
    background-color: black;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1590px;
    margin: 0 auto;
    gap: 24px;
    color: white;
  }
  
  .header_logo {
    height: 40px;
    object-fit: contain;
    margin-right: 20px;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
 
  .header_center {
    display: flex;
    align-items: center;
    font-weight: 400;
    gap: 24px;
    font-size: 16px;
    padding-left: 10%;
    font-weight: 400;
    line-height: 24px;
  }

  .header_right {
    display: flex;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    align-items: center;
    gap: 24px;
    color: white;
  }
  
  .header_dropdowns {
    width: 88px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    gap: 8px;
  }
  
  .menu-icon {
    color: black;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: white;
    top: 60px;
    right: 0;
    min-width: 140px;
    max-width: 100vw;
    border-radius: 7px;
    z-index: 1;
  }

  .dropbtn:hover{
    cursor: pointer;
    background-color: #E5E7EB;
  }
  
  .dropdown-content span {
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content span:hover {
    background-color: #E5E7EB;
    cursor: pointer;
    border-radius: 7px;
  }
  
  .dropdown-visible .dropdown-content {
    display: block;
  }